name: predict_daily

on:
  workflow_dispatch:
  schedule:
    - cron: '11 6 * * *'

jobs:
  run_notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install papermill

      - name: Run daily feature pipeline notebook
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          HOPSWORKS_PROJECT: ${{ secrets.HOPSWORKS_PROJECT }}
        run: |
          papermill daily_feature_pipeline.ipynb /tmp/out_daily_feature_pipeline.ipynb

      - name: Run batch inference pipeline notebook
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          HOPSWORKS_PROJECT: ${{ secrets.HOPSWORKS_PROJECT }}
        run: |
          papermill batch_inference_pipeline.ipynb /tmp/out_batch_inference_pipeline.ipynb
